@model IEnumerable<Web.UI.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
